extends /resources/templete/_layout.pug
block vars
  include /resources/templete/components/_config.pug
  - var key = "top"
  - var page = pages[key]

block contents

  .l_commonWrap01
    .l_commonInner01
      h1 トップページ
